@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject BlazorForum.Data.ApplicationDbContext context

@{
    // This may need to be changed using an await if it starts causing issues with DbContext conflicts
    string themeName = new BlazorForum.Domain.Interfaces.ManageThemes(context)
        .GetSelectedThemeNameAsync().Result;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @config.GetSection("SiteTitle").Value</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link href="/css/blazorforum-styles.min.css" rel="stylesheet" />
    @if (!String.IsNullOrEmpty(themeName))
    {
        <link href="~/custom-themes/@themeName/styles.css" rel="stylesheet" />
    }
</head>
<body>
    <app>
        <div class="sidebar">
            <nav class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="/">@config.GetSection("SiteTitle").Value</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <nav class="collapse navbar-collapse" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/">
                            <span class="oi oi-home" aria-hidden="true"></span> 欢迎页
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/forums">
                            <span class="oi oi-chat" aria-hidden="true"></span> 版面
                        </a>
                    </li>
                    @if (Context.User.IsInRole("Administrator"))
                    {
                        <li class="nav-item px-3">
                            <a class="nav-link" href="/admin/dashboard">
                                <span class="oi oi-cog" aria-hidden="true"></span> 管理论坛
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="main">
            <section class="top-row px-4 auth d-none d-md-block">
                <header>
                    <nav class="navbar navbar-expand-md navbar-light navbar-toggleable-md">
                        <div class="container">
                            <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                                @{
                                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                                }
                                @if (result.Success)
                                {
                                    await Html.RenderPartialAsync("_LoginPartial");
                                }
                                else
                                {
                                    throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                                        "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                                        $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                                }
                            </div>
                        </div>
                    </nav>
                </header>
            </section>

            <section class="content px-4">
                @RenderBody()
            </section>
        </div>
    </app>


    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
