@using BlazorForum.Pages.Components.UpDownVote
@inject IManageForums manageForums

<div class="forum-topic-container">
    @if (!_isEditorVisible && ForumUpDownVoteEnabled)
    {
        <UpDownVote PostId="@ThisTopic.ForumTopicId" UniqueIdentifier="ForumTopic" PosterId="@ThisTopic.UserId" VoterId="@CurrentUserId"></UpDownVote>
    }

    <div class="forum-topic-content @(_isEditorVisible ? "w-100" : "")">
        @if (_isEditorVisible != true)
            @((MarkupString)ThisTopic.TopicText)

        @if (ThisTopic.UserId == CurrentUserId)
        {
            @if (_isEditorVisible)
            {
                <TopicForm OnTopicUpdated="@RefreshTopic" CurrentUserId="@CurrentUserId" ForumTopicToEdit="@ThisTopic" OnCancel="@RefreshTopic"></TopicForm>
            }
            else
            {
                <div>
                    <button class="btn btn-sm btn-blazorforum mb-2" type="button" @onclick="@(() => _isEditorVisible = true)">编辑</button>
                </div>
            }
        }
    </div>
</div>



@code {
    [Parameter] public Models.ForumTopic ThisTopic { get; set; }
    [Parameter] public bool ForumUpDownVoteEnabled { get; set; }
    [Parameter] public string CurrentUserId { get; set; }
    private bool _isEditorVisible = false;

    private void RefreshTopic()
    {
        _isEditorVisible = false;
        StateHasChanged();
    }
}
